#--------------------------------------------------------------------
# Example Environment Configuration file
#
# This file can be used as a starting point for your own
# custom .env files, and it has all of the possible settings
# already commented out and ready to go. Thanks for using CodeIgniter!
#--------------------------------------------------------------------

# CI_ENVIRONMENT can be set to anything, but the constant is
# used to determine the current environment. More info below.
# Default: production
CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

# app.baseURL is the base URL to your application. If you have
# installed CodeIgniter in a sub-folder, you will need to
# prepend that folder name. For example, if you installed
# into a sub-folder named `CodeIgniter` you would set:
# app.baseURL = http://localhost/CodeIgniter/
#
# If you find that every page is requesting a getConfigFile() it's
# because the baseURL does not match your actual URL.
#
# e.g. You might have the domain set in .htaccess and have CodeIgniter
# set as http://localhost/
# use http://localhost/index.php/your-page instead.
#
# It will also affect your ability to do redirects. In production, you
# will likely need to set it to your .env as you have a domain.
# app.baseURL = http://localhost:8080/
# Data - custom app properties
# app.appName = My App
# app.appTimezone = America/Chicago

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = blog_db
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

# Migrations
# database.migrations.enabled = true
# database.migrations.table = migrations

#--------------------------------------------------------------------
# CONTENT SECURITY POLICY
#--------------------------------------------------------------------

# contentsecuritypolicy.reportOnly = false
# contentsecuritypolicy.defaultSrc = 'self'
# contentsecuritypolicy.scriptSrc = 'self'
# contentsecuritypolicy.styleSrc = 'self'
# contentsecuritypolicy.imageSrc = 'self'
# contentsecuritypolicy.base_uri = null
# contentsecuritypolicy.child_src = null
# contentsecuritypolicy.connect_src = 'self'
# contentsecuritypolicy.font_src = null
# contentsecuritypolicy.form_action = null
# contentsecuritypolicy.frame_ancestors = null
# contentsecuritypolicy.img_src = 'self'
# contentsecuritypolicy.manifest_src = null
# contentsecuritypolicy.media_src = null
# contentsecuritypolicy.object_src = null
# contentsecuritypolicy.plugin_types = null
# contentsecuritypolicy.report_uri = null
# contentsecuritypolicy.sandbox = false
# contentsecuritypolicy.upgrade_insecure_requests = false
# contentsecuritypolicy.default_src_attr = null
# contentsecuritypolicy.default_src_elem = null
# contentsecuritypolicy.worker_src = null

#--------------------------------------------------------------------
# COOKIE
#--------------------------------------------------------------------

# cookie.defaults.expires = 0
# cookie.defaults.path = /
# cookie.defaults.domain =
# cookie.defaults.secure = false
# cookie.defaults.httponly = false
# cookie.defaults.samesite = Lax
# cookie.defaults.raw = false
# cookie.prefix = ''
# cookie.expires = 0
# cookie.path = /
# cookie.domain =
# cookie.secure = false
# cookie.httponly = false
# cookie.samesite = Lax
# cookie.raw = false

#--------------------------------------------------------------------
# ENCRYPTION
#--------------------------------------------------------------------

# MUST set an encryption key beforehand inside the .env file
# encryption.key =
# encryption.driver = OpenSSL

#--------------------------------------------------------------------
# ENCRYPTION KEYS / HASHING
#--------------------------------------------------------------------

# encryption.key = SomeSecretKey

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------

# session.driver = files
# session.cookieName = PHPSESSID
# session.expiration = 7200
# session.savePath = null
# session.matchIP = false
# session.timeToUpdate = 300
# session.regenerateDestroy = false

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------

# logger.threshold = 4
# Can be: Emergency, Alert, Critical, Error, Warning, Notice, Info, Debug
# logger.threshold = Critical

#--------------------------------------------------------------------
# CURLRequest
#--------------------------------------------------------------------

# curlrequest.shareOptions = true
